:root {
  /* ### Root */
  --tipTop-Badge__borderWidth: 1px;
  --tipTop-Badge__borderRadius: var(--tipTop__borderRadius--md);
  --tipTop-Badge__fontSize: var(--tipTop__fontSize--md);
  --tipTop-Badge__fontWeight: var(--tipTop__fontWeight--medium);
  --tipTop-Badge__whiteSpace: nowrap;
  --tipTop-Badge__lineHeight: 1rem;
  --tipTop-Badge__svg-width: 1em;
  --tipTop-Badge__svg-height: 1em;
  --tipTop-Badge__slot-margin: -0.2em;

  /* ### Show Outline */
  --tipTop-Badge--showOutline__boxShadow: 0 0 0 2px #fff;

  /* ### Position */
  --tipTop-Badge--position__position: absolute;
  --tipTop-Badge--position__zIndex: 10;
  --tipTop-Badge--position__transform: translate(50%, -50%);

  /* ### Variants */

  /* #### `faded` */
  /* change the background color */
  --tipTop-Badge--faded__bgColorMix-colorSpace: srgb;
  --tipTop-Badge--faded__bgColorMix-percent: 20%;
  --tipTop-Badge--faded__bgColorMix-blendColor: #fff;

  /* Darken the text color over a faded background */
  --tipTop-Badge--faded__textColorMix-colorSpace: srgb;
  --tipTop-Badge--faded__textColorMix-percent: 65%;
  --tipTop-Badge--faded__textColorMix-blendColor: #000;

  /* ### Size */

  /* #### xs */
  --tipTop-Badge--xs__fontSize: var(--tipTop__fontSize--3xs);
  --tipTop-Badge--xs__height: var(--tipTop__height--3xs);
  --tipTop-Badge--xs__gap: var(--tipTop__space--2);
  --tipTop-Badge--xs__paddingInline: var(--tipTop__space--8);

  /* #### sm */
  --tipTop-Badge--sm__fontSize: var(--tipTop__fontSize--2xs);
  --tipTop-Badge--sm__height: var(--tipTop__height--2xs);
  --tipTop-Badge--sm__gap: var(--tipTop__space--4);
  --tipTop-Badge--sm__paddingInline: var(--tipTop__space--10);

  /* #### md */
  --tipTop-Badge--md__fontSize: var(--tipTop__fontSize--xs);
  --tipTop-Badge--md__height: var(--tipTop__height--xs);
  --tipTop-Badge--md__gap: var(--tipTop__space--6);
  --tipTop-Badge--md__paddingInline: var(--tipTop__space--12);

  /* #### lg */
  --tipTop-Badge--lg__fontSize: var(--tipTop__fontSize--sm);
  --tipTop-Badge--lg__height: var(--tipTop__height--sm);
  --tipTop-Badge--lg__gap: var(--tipTop__space--8);
  --tipTop-Badge--lg__paddingInline: var(--tipTop__space--14);

  /* #### xl */
  --tipTop-Badge--xl__fontSize: var(--tipTop__fontSize--md);
  --tipTop-Badge--xl__height: var(--tipTop__height--md);
  --tipTop-Badge--xl__gap: var(--tipTop__space--10);
  --tipTop-Badge--xl__paddingInline: var(--tipTop__space--16);

  /* #### 2xl */
  --tipTop-Badge--2xl__fontSize: var(--tipTop__fontSize--lg);
  --tipTop-Badge--2xl__height: var(--tipTop__height--lg);
  --tipTop-Badge--2xl__gap: var(--tipTop__space--12);
  --tipTop-Badge--2xl__paddingInline: var(--tipTop__space--18);

  /* #### 3xl */
  --tipTop-Badge--3xl__fontSize: var(--tipTop__fontSize--xl);
  --tipTop-Badge--3xl__height: var(--tipTop__height--xl);
  --tipTop-Badge--3xl__gap: var(--tipTop__space--14);
  --tipTop-Badge--3xl__paddingInline: var(--tipTop__space--20);
}

.tipTop-Badge,
.tipTop-Badge * {
  box-sizing: border-box;
}

/* Base Badge Root Styles */
.tipTop-Badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--tipTop-Badge__fontWeight);
  line-height: var(--tipTop-Badge__lineHeight);
  gap: var(--tipTop-Badge__gap);
  white-space: var(--tipTop-Badge__whiteSpace);
}

/* Icons ------------------------------------------------------------------ */
.tipTop-Badge svg {
  width: var(--tipTop-Badge__svg-width);
  height: var(--tipTop-Badge__svg-height);
  display: block;
}

/* Slots ------------------------------------------------------------------ */
.tipTop-Badge-slot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipTop-Badge-slot--start {
  margin-left: var(--tipTop-Badge__slot-margin);
}

.tipTop-Badge-slot--end {
  margin-right: var(--tipTop-Badge__slot-margin);
}

/* Outline ------------------------------------------------------------------- */
.tipTop-Badge--showOutline {
  box-shadow: var(--tipTop-Badge--showOutline__boxShadow);
}

/* Position ------------------------------------------------------------------- */
.tipTop-Badge--position-top,
.tipTop-Badge--position-top-right,
.tipTop-Badge--position-right,
.tipTop-Badge--position-bottom-right,
.tipTop-Badge--position-bottom,
.tipTop-Badge--position-bottom-left,
.tipTop-Badge--position-left,
.tipTop-Badge--position-top-left {
  position: var(--tipTop-Badge--position__position);
  z-index: var(--tipTop-Badge--position__zIndex);
}

.tipTop-Badge--position-top {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tipTop-Badge--position-top-right {
  top: 0;
  right: 0;
  transform: var(--tipTop-Badge--position__transform);
}

.tipTop-Badge--position-right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.tipTop-Badge--position-bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.tipTop-Badge--position-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.tipTop-Badge--position-bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.tipTop-Badge--position-left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.tipTop-Badge--position-top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}


/* Variants ---------------------------------------------------------------- */
.tipTop-Badge--primary {
  --tipTop-Badge__backgroundColor: var(--tipTop__color--primary);
  --tipTop-Badge__color: var(--tipTop__color--light);
}

.tipTop-Badge--secondary {
  --tipTop-Badge__backgroundColor: var(--tipTop__color--secondary);
  --tipTop-Badge__color: var(--tipTop__color--light);
}

.tipTop-Badge--neutral {
  --tipTop-Badge__backgroundColor: var(--tipTop__color--neutral);
  --tipTop-Badge__color: var(--tipTop__color--light);
}

.tipTop-Badge--danger {
  --tipTop-Badge__backgroundColor: var(--tipTop__color--danger);
  --tipTop-Badge__color: var(--tipTop__color--light);
}

.tipTop-Badge--warning {
  --tipTop-Badge__backgroundColor: var(--tipTop__color--warning);
  --tipTop-Badge__color: var(--tipTop__color--light);
}

.tipTop-Badge--success {
  --tipTop-Badge__backgroundColor: var(--tipTop__color--success);
  --tipTop-Badge__color: var(--tipTop__color--light);
}

.tipTop-Badge--light {
  --tipTop-Badge__backgroundColor: var(--tipTop__color--light);
  --tipTop-Badge__color: var(--tipTop__color--dark);
}

.tipTop-Badge--dark {
  --tipTop-Badge__backgroundColor: var(--tipTop__color--dark);
  --tipTop-Badge__color: var(--tipTop__color--light);
}

/* Appearance ------------------------------------------------------------- */
.tipTop-Badge--solid {
  background-color: var(--tipTop-Badge__backgroundColor);
  color: var(--tipTop-Badge__color);
}

.tipTop-Badge--faded {
  background-color: color-mix(in var(--tipTop-Badge--faded__bgColorMix-colorSpace), var(--tipTop-Badge__backgroundColor) var(--tipTop-Badge--faded__bgColorMix-percent), var(--tipTop-Badge--faded__bgColorMix-blendColor));
  color: color-mix(in var(--tipTop-Badge--faded__textColorMix-colorSpace), var(--tipTop-Badge__backgroundColor) var(--tipTop-Badge--faded__textColorMix-percent), var(--tipTop-Badge--faded__textColorMix-blendColor));
}

.tipTop-Badge--outline {
  background-color: transparent;
  border-width: var(--tipTop-Badge__borderWidth);
  border-style: solid;
  border-color: var(--tipTop-Badge__backgroundColor);
  color: var(--tipTop-Badge__backgroundColor);
}

.tipTop-Badge--ghost {
  background-color: transparent;
  color: var(--tipTop-Badge__backgroundColor);
}

.tipTop-Badge--text {
  background-color: transparent;
  color: var(--tipTop-Badge__backgroundColor);
  padding: 0;
}

/* Sizes ------------------------------------------------------------------- */
.tipTop-Badge--2xs {
  font-size: var(--tipTop-Badge--2xs__fontSize);
  height: var(--tipTop-Badge--2xs__height);
  gap: var(--tipTop-Badge--2xs__gap);
  padding-inline: var(--tipTop-Badge--2xs__paddingInline);
}

.tipTop-Badge--xs {
  font-size: var(--tipTop-Badge--xs__fontSize);
  height: var(--tipTop-Badge--xs__height);
  gap: var(--tipTop-Badge--xs__gap);
  padding-inline: var(--tipTop-Badge--xs__paddingInline);
}

.tipTop-Badge--sm {
  font-size: var(--tipTop-Badge--sm__fontSize);
  height: var(--tipTop-Badge--sm__height);
  gap: var(--tipTop-Badge--sm__gap);
  padding-inline: var(--tipTop-Badge--sm__paddingInline);
}

.tipTop-Badge--md {
  font-size: var(--tipTop-Badge--md__fontSize);
  height: var(--tipTop-Badge--md__height);
  gap: var(--tipTop-Badge--md__gap);
  padding-inline: var(--tipTop-Badge--md__paddingInline);
}

.tipTop-Badge--lg {
  font-size: var(--tipTop-Badge--lg__fontSize);
  height: var(--tipTop-Badge--lg__height);
  gap: var(--tipTop-Badge--lg__gap);
  padding-inline: var(--tipTop-Badge--lg__paddingInline);
}

.tipTop-Badge--xl {
  font-size: var(--tipTop-Badge--xl__fontSize);
  height: var(--tipTop-Badge--xl__height);
  gap: var(--tipTop-Badge--xl__gap);
  padding-inline: var(--tipTop-Badge--xl__paddingInline);
}

.tipTop-Badge--2xl {
  font-size: var(--tipTop-Badge--2xl__fontSize);
  height: var(--tipTop-Badge--2xl__height);
  gap: var(--tipTop-Badge--2xl__gap);
  padding-inline: var(--tipTop-Badge--2xl__paddingInline);
}

.tipTop-Badge--3xl {
  font-size: var(--tipTop-Badge--3xl__fontSize);
  height: var(--tipTop-Badge--3xl__height);
  gap: var(--tipTop-Badge--3xl__gap);
  padding-inline: var(--tipTop-Badge--3xl__paddingInline);
}

/* Shape ------------------------------------------------------------------ */
.tipTop-Badge--rounded {
  border-radius: var(--tipTop-Badge__borderRadius, var(--tipTop__borderRadius--normal));
}

.tipTop-Badge--pill {
  border-radius: var(--tipTop__borderRadius--full);
}

.tipTop-Badge--circle {
  border-radius: 50%;
}

.tipTop-Badge--square {
  border-radius: 0;
}

/* Empty ------------------------------------------------------------------ */
.tipTop-Badge--empty {
  padding: 0;
  aspect-ratio: 1;
}
/*

/* Fixed Ratio------------------------------------------------------------- */
.tipTop-Badge--fixedRatio {
  padding: 0;
  aspect-ratio: 1;
}

.tipTop-Badge--fixedRatio.tipTop-Badge--2xs {
  width: var(--tipTop-Badge--2xs__height);
}

.tipTop-Badge--fixedRatio.tipTop-Badge--xs {
  width: var(--tipTop-Badge--xs__height);
}

.tipTop-Badge--fixedRatio.tipTop-Badge--sm {
  width: var(--tipTop-Badge--sm__height);
}

.tipTop-Badge--fixedRatio.tipTop-Badge--md {
  width: var(--tipTop-Badge--md__height);
}

.tipTop-Badge--fixedRatio.tipTop-Badge--lg {
  width: var(--tipTop-Badge--lg__height);
}

.tipTop-Badge--fixedRatio.tipTop-Badge--xl {
  width: var(--tipTop-Badge--xl__height);
}

.tipTop-Badge--fixedRatio.tipTop-Badge--2xl {
  width: var(--tipTop-Badge--2xl__height);
}



