.props-table {
  border: none;

  tr {
    border: none;
  }

  thead {
    background: none;
  }

  th {
    background-color: var(--tiptop-color-bg-extra-contrast);
    border: none;
    text-align: left;
  }

  td {
    border: none;
  }
}

.props-table-key,
.props-table-type,
.props-table-value {
  font-family: var(--ifm-font-family-monospace);
  font-size: 0.9rem;
}

.props-table-key {
  font-weight: bold;
}