:root {
  /* ### Colors --------------------------------------------------------------- */
  --tipTop__color--primary: #0577b4;
  --tipTop__color--secondary: #8e45bc;
  --tipTop__color--neutral: #7e7e7e;
  --tipTop__color--danger: #9f2020;
  --tipTop__color--warning: #ffb700;
  --tipTop__color--success: #08a900;
  --tipTop__color--light: #fff;
  --tipTop__color--dark: #000;
  --tipTop__color--text: #3d3d3d;
  --tipTop__color--heading: #20299f;

  /* ### Spacing -------------------------------------------------------------- */
  --tipTop__space--0:  0;        /* 0px */
  --tipTop__space--1:  1px;      /* 1px */
  --tipTop__space--2:  0.125rem; /* 2px */
  --tipTop__space--4:  0.25rem;  /* 4px */
  --tipTop__space--6:  0.375rem; /* 6px */
  --tipTop__space--8:  0.5rem;   /* 8px */
  --tipTop__space--10: 0.625rem; /* 10px */
  --tipTop__space--12: 0.75rem;  /* 12px */
  --tipTop__space--14: 0.875rem; /* 14px */
  --tipTop__space--16: 1rem;     /* 16px */
  --tipTop__space--18: 1.125rem; /* 18px */
  --tipTop__space--20: 1.25rem;  /* 20px */
  --tipTop__space--22: 1.375rem; /* 22px */
  --tipTop__space--24: 1.5rem;   /* 24px */
  --tipTop__space--28: 1.75rem;  /* 28px */
  --tipTop__space--32: 2rem;     /* 32px */
  --tipTop__space--36: 2.25rem;  /* 36px */
  --tipTop__space--40: 2.5rem;   /* 40px */

  /* ### Heights -------------------------------------------------------------- */
  --tipTop__height--4xs: 0.375rem; /* 6px */
  --tipTop__height--3xs: 0.75rem; /* 12px */
  --tipTop__height--2xs: 1.125rem; /* 18px */
  --tipTop__height--xs:  1.5rem;   /* 24px */
  --tipTop__height--sm:  1.875rem; /* 30px */
  --tipTop__height--md:  2.25rem;  /* 36px */
  --tipTop__height--lg:  2.625rem; /* 42px */
  --tipTop__height--xl:  3rem;     /* 48px */
  --tipTop__height--2xl: 3.375rem; /* 54px */

  /* ### Border --------------------------------------------------------------- */
  /* #### Radius */
  --tipTop__borderRadius--sm:   0.125rem;
  --tipTop__borderRadius--md:   0.25rem;
  --tipTop__borderRadius--lg:   0.375rem;
  --tipTop__borderRadius--xl:   0.5rem;
  --tipTop__borderRadius--2xl:  0.75rem;
  --tipTop__borderRadius--3xl:  1rem;
  --tipTop__borderRadius--4xl:  1.5rem;
  --tipTop__borderRadius--full: 9999px;

  /* #### Width */
  --tipTop__borderWidth--sm: 0.5px;
  --tipTop__borderWidth--md: 1px;
  --tipTop__borderWidth--lg: 2px;
  --tipTop__borderWidth--xl: 4px;
  --tipTop__borderWidth--2xl: 8px;

  /* ### Typography ----------------------------------------------------------- */
  /* #### Font Family */
  --tipTop__fontFamily--heading: ui-serif, charter, "Bitstream Charter", "Sitka Text", cambria, serif;
  --tipTop__fontFamily--text: system-ui, arial, "Helvetica Neue", helvetica, sans-serif;
  --tipTop__fontFamily--mono: ui-monospace, "Cascadia Code", "Source Code Pro", menlo, consolas, "DejaVu Sans Mono", monospace;

  /* ### Font Size */
  --tipTop__fontSize--4xs:  0.5rem;   /* 6px */
  --tipTop__fontSize--3xs:  0.5rem;   /* 8px */
  --tipTop__fontSize--2xs:  0.625rem; /* 10px */
  --tipTop__fontSize--xs:   0.75rem;  /* 12px */
  --tipTop__fontSize--sm:   0.875rem; /* 14px */
  --tipTop__fontSize--md:   1rem;     /* 16px */
  --tipTop__fontSize--lg:   1.125rem; /* 18px */
  --tipTop__fontSize--xl:   1.25rem;  /* 20px */
  --tipTop__fontSize--2xl:  1.375rem; /* 22px */
  --tipTop__fontSize--3xl:  1.5rem;   /* 24px */
  --tipTop__fontSize--4xl:  1.625rem; /* 26px */
  --tipTop__fontSize--5xl:  1.875rem; /* 30px */
  --tipTop__fontSize--6xl:  2.25rem;  /* 36px */
  --tipTop__fontSize--7xl:  3rem;     /* 48px */
  --tipTop__fontSize--8xl:  3.75rem;  /* 60px */
  --tipTop__fontSize--9xl:  4.5rem;   /* 72px */
  --tipTop__fontSize--10xl: 6rem;     /* 96px */
  --tipTop__fontSize--11xl: 8rem;     /* 128px */

  /* ### Line Height */
  --tipTop__lineHeight--2xs: 0.75em;
  --tipTop__lineHeight--xs:  0.875em;
  --tipTop__lineHeight--sm:  1em;
  --tipTop__lineHeight--md:  1.25em;
  --tipTop__lineHeight--lg:  1.375em;
  --tipTop__lineHeight--xl:  1.5em;
  --tipTop__lineHeight--2xl: 1.625em;
  --tipTop__lineHeight--3xl: 1.75em;

  /* ### Font Weight */
  --tipTop__fontWeight--thin:       100;
  --tipTop__fontWeight--extraLight: 200;
  --tipTop__fontWeight--light:      300;
  --tipTop__fontWeight--normal:     400;
  --tipTop__fontWeight--medium:     500;
  --tipTop__fontWeight--semiBold:   600;
  --tipTop__fontWeight--bold:       700;
  --tipTop__fontWeight--extraBold:  800;
  --tipTop__fontWeight--black:      900;

  /* ### Letter Spacing */
  --tipTop__letterSpacing--xs:  -0.05em;
  --tipTop__letterSpacing--sm:  -0.025em;
  --tipTop__letterSpacing--md:  0em;
  --tipTop__letterSpacing--lg:  0.025em;
  --tipTop__letterSpacing--xl:  0.05em;
  --tipTop__letterSpacing--2xl: 0.1em;
}