:root {
  --tipTop-Loader-root__color--light: #fff;
  --tipTop-Loader-root__color--dark: #333;
  --tipTop-Loader-shape__borderWidth--sm: 1px;
  --tipTop-Loader-shape__borderWidth--normal: 2px;
  --tipTop-Loader-shape__borderWidth--lg: 4px;
  --tipTop-Loader-shape__borderWidth--xl: 6px;
}

.tipTop-Loader-root,
.tipTop-Loader-root * {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tipTop-Loader-root {
  display: block;
  font-size: 0;
  width: 32px;
  height: 32px;
}

.tipTop-Loader-root--light {
  color: var(--tipTop-Loader-root-color-light);
}

.tipTop-Loader-root--dark {
  color: var(--tipTop-Loader-root-color-dark);
}

.tipTop-Loader-shape {
  display: inline-block;
  background-color: currentColor;
  border: 0 solid currentColor;
  width: 32px;
  height: 32px;
  background: transparent;
  border-width: var(--tipTop-Loader-shape__borderWidth--normal);
  border-bottom-color: transparent;
  border-radius: 100%;
  -webkit-animation: spinner-rotate 0.75s linear infinite;
  -moz-animation: spinner-rotate 0.75s linear infinite;
  -o-animation: spinner-rotate 0.75s linear infinite;
  animation: spinner-rotate 0.75s linear infinite;
}

.tipTop-Loader-root {
  width: 32px;
  height: 32px;
}

.tipTop-Loader-root--small {
  width: 16px;
  height: 16px;
}

.tipTop-Loader-root--small .tipTop-Loader-shape {
  width: 16px;
  height: 16px;
  border-width: var(--tipTop-Loader-shape__borderWidth--sm);
}

.tipTop-Loader-root--large {
  width: 64px;
  height: 64px;
}

.tipTop-Loader-root--large .tipTop-Loader-shape {
  width: 64px;
  height: 64px;
  border-width: var(--tipTop-Loader-shape__borderWidth--lg);
}

.tipTop-Loader-root--extra-large {
  width: 96px;
  height: 96px;
}

.tipTop-Loader-root--extra-large .tipTop-Loader-shape {
  width: 96px;
  height: 96px;
  border-width: var(--tipTop-Loader-shape__borderWidth--xl);
}

/*
* Animation
*/
@-webkit-keyframes spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner-rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner-rotate {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
