:root {
    /* root */
  --tipTop-Button__borderWidth: 1px;
  --tipTop-Button__borderRadius: var(--tipTop__borderRadius--normal);
  --tipTop-Button__fontSize: var(--tipTop__fontSize--normal);
  --tipTop-Button__fontWeight: var(--tipTop__fontWeight--medium);
  --tipTop-Button__transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  --tipTop-Button--disabled__opacity: 0.5;

  /* Appearance */
  /* Change the solid background color on hover */
  --tipTop-Button--solid-hovered__bgColorMix-colorSpace: srgb;
  --tipTop-Button--solid-hovered__bgColorMix-percent: 70%;
  --tipTop-Button--solid-hovered__bgColorMix-blendColor: #fff;

  /* `faded` variant - change the background color */
  --tipTop-Button--faded__bgColorMix-colorSpace: srgb;
  --tipTop-Button--faded__bgColorMix-percent: 20%;
  --tipTop-Button--faded__bgColorMix-blendColor: #fff;

  /* `faded` variant - change the background color on hover */
  --tipTop-Button--faded-hovered__bgColorMix-colorSpace: srgb;
  --tipTop-Button--faded-hovered__bgColorMix-percent: 30%;
  --tipTop-Button--faded-hovered__bgColorMix-blendColor: #fff;

  /* Darken the text color over a faded/hovered background */
  --tipTop-Button--faded__textColorMix-colorSpace: srgb;
  --tipTop-Button--faded__textColorMix-percent: 65%;
  --tipTop-Button--faded__textColorMix-blendColor: #000;

  /* Button-slot */
  /* Enable as needed */
  /* --tipTop-Button-slot__marginBlockStart: 0; */
  /* --tipTop-Button-slot__marginBlockEnd: 0; */
  /* --tipTop-Button-slot__marginInlineStart: 0; */
  /* --tipTop-Button-slot__marginInlineEnd: 0; */

  /* Button-slotStart */
  /* Enable as needed */
  /* --tipTop-Button-slotStart__marginBlockStart: 0; */
  /* --tipTop-Button-slotStart__marginBlockEnd: 0; */
  --tipTop-Button-slotStart__marginInlineStart: calc(var(--tipTop__space--0-5) * -1);
  --tipTop-Button-slotStart__marginInlineEnd: var(--tipTop__space--2);

  /* Button-slotEnd */
  /* Enable as needed */
  /* --tipTop-Button-slotEnd__marginBlockStart: 0; */
  /* --tipTop-Button-slotEnd__marginBlockEnd: 0; */
  --tipTop-Button-slotEnd__marginInlineStart: var(--tipTop__space--2);
  --tipTop-Button-slotEnd__marginInlineEnd: calc(var(--tipTop__space--0-5) * -1);

  /* children */
  /* Enable as needed */
  /* --tipTop-Button-children__marginBlockStart: 0; */
  /* --tipTop-Button-children__marginBlockEnd: 0; */
  /* --tipTop-Button-children__marginInlineStart: 0; */
  /* --tipTop-Button-children__marginInlineEnd: 0; */

  /* Size */
  /* xs */
  --tipTop-Button--xs__fontSize: var(--tipTop__fontSize--xs);
  --tipTop-Button__paddingBlockStart--xs: var(--tipTop__space--0-5);
  --tipTop-Button__paddingBlockEnd--xs: var(--tipTop__space--0-5);
  --tipTop-Button__paddingInlineStart--xs: var(--tipTop__space--1);
  --tipTop-Button__paddingInlineEnd--xs: var(--tipTop__space--1);

  /* sm */
  --tipTop-Button--sm__fontSize: var(--tipTop__fontSize--sm);
  --tipTop-Button__paddingBlockStart--sm: var(--tipTop__space--1-5);
  --tipTop-Button__paddingBlockEnd--sm: var(--tipTop__space--1-5);
  --tipTop-Button__paddingInlineStart--sm: var(--tipTop__space--2);
  --tipTop-Button__paddingInlineEnd--sm: var(--tipTop__space--2);

  /* normal */
  --tipTop-Button--normal__fontSize: var(--tipTop__fontSize--normal);
  --tipTop-Button__paddingBlockStart--normal: var(--tipTop__space--2-5);
  --tipTop-Button__paddingBlockEnd--normal: var(--tipTop__space--2-5);
  --tipTop-Button__paddingInlineStart--normal: var(--tipTop__space--3-5);
  --tipTop-Button__paddingInlineEnd--normal: var(--tipTop__space--3-5);

  /* medium */
  --tipTop-Button--md__fontSize: var(--tipTop__fontSize--md);
  --tipTop-Button__paddingBlockStart--md: var(--tipTop__space--3-5);
  --tipTop-Button__paddingBlockEnd--md: var(--tipTop__space--3-5);
  --tipTop-Button__paddingInlineStart--md: var(--tipTop__space--4);
  --tipTop-Button__paddingInlineEnd--md: var(--tipTop__space--4);

  /* large */
  --tipTop-Button--lg__fontSize: var(--tipTop__fontSize--xl);
  --tipTop-Button__paddingBlockStart--lg: var(--tipTop__space--4);
  --tipTop-Button__paddingBlockEnd--lg: var(--tipTop__space--4);
  --tipTop-Button__paddingInlineStart--lg: var(--tipTop__space--5);
  --tipTop-Button__paddingInlineEnd--lg: var(--tipTop__space--5);

  /* extra large */
  --tipTop-Button--xl__fontSize: var(--tipTop__fontSize--3xl);
  --tipTop-Button__paddingBlockStart--xl: var(--tipTop__space--4);
  --tipTop-Button__paddingBlockEnd--xl: var(--tipTop__space--4);
  --tipTop-Button__paddingInlineStart--xl: var(--tipTop__space--6);
  --tipTop-Button__paddingInlineEnd--xl: var(--tipTop__space--6);
}


.tipTop-Button,
.tipTop-Button * {
  box-sizing: border-box;
}

.tipTop-Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block-start: var(--tipTop-Button__paddingBlockStart);
  padding-block-end: var(--tipTop-Button__paddingBlockEnd);
  padding-inline-start: var(--tipTop-Button__paddingInlineStart);
  padding-inline-end: var(--tipTop-Button__paddingInlineEnd);
  border: var(--tipTop-Button__border);
  font-weight: var(--tipTop-Button__fontWeight);
  transition: var(--tipTop-Button__transition);

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    opacity: var(--tipTop-Button--disabled__opacity);
  }
}

/* Slots ------------------------------------------------------------------ */
.tipTop-Button-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--tipTop-Button-slot__marginBlockStart);
  margin-block-end: var(--tipTop-Button-slot__marginBlockEnd);
  margin-inline-start: var(--tipTop-Button-slot__marginInlineStart);
  margin-inline-end: var(--tipTop-Button-slot__marginInlineEnd);
}

.tipTop-Button-slotStart {
  margin-block-start: var(--tipTop-Button-slotStart__marginBlockStart);
  margin-block-end: var(--tipTop-Button-slotStart__marginBlockEnd);
  margin-inline-start: var(--tipTop-Button-slotStart__marginInlineStart);
  margin-inline-end: var(--tipTop-Button-slotStart__marginInlineEnd);
}

.tipTop-Button-slotEnd {
  margin-block-start: var(--tipTop-Button-slotEnd__marginBlockStart);
  margin-block-end: var(--tipTop-Button-slotEnd__marginBlockEnd);
  margin-inline-start: var(--tipTop-Button-slotEnd__marginInlineStart);
  margin-inline-end: var(--tipTop-Button-slotEnd__marginInlineEnd);
}

.tipTop-Button-children {
  margin-block-start: var(--tipTop-Button-children__marginBlockStart);
  margin-block-end: var(--tipTop-Button-children__marginBlockEnd);
  margin-inline-start: var(--tipTop-Button-children__marginInlineStart);
  margin-inline-end: var(--tipTop-Button-children__marginInlineEnd);
}

/* Variant ---------------------------------------------------------------- */
.tipTop-Button--primary {
  --tipTop-Button__backgroundColor: var(--tipTop__color--primary);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--secondary {
  --tipTop-Button__backgroundColor: var(--tipTop__color--secondary);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--neutral {
  --tipTop-Button__backgroundColor: var(--tipTop__color--neutral);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--danger {
  --tipTop-Button__backgroundColor: var(--tipTop__color--danger);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--warning {
  --tipTop-Button__backgroundColor: var(--tipTop__color--warning);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--success {
  --tipTop-Button__backgroundColor: var(--tipTop__color--success);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--light {
  --tipTop-Button__backgroundColor: var(--tipTop__color--light);
  --tipTop-Button__color: var(--tipTop__color--dark);
}

.tipTop-Button--dark {
  --tipTop-Button__backgroundColor: var(--tipTop__color--dark);
  --tipTop-Button__color: var(--tipTop__color--light);
}

/* Appearance ------------------------------------------------------------- */
.tipTop-Button--solid {
  background-color: var(--tipTop-Button__backgroundColor);
  color: var(--tipTop-Button__color);

  &:not([disabled]):hover {
    background-color: color-mix(in var(--tipTop-Button--solid-hovered__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--solid-hovered__bgColorMix-percent), var(--tipTop-Button--solid-hovered__bgColorMix-blendColor));
  }
}

.tipTop-Button--faded {
  background-color: color-mix(in var(--tipTop-Button--faded__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__bgColorMix-percent), var(--tipTop-Button--faded__bgColorMix-blendColor));
  color: color-mix(in var(--tipTop-Button--faded__textColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__textColorMix-percent), var(--tipTop-Button--faded__textColorMix-blendColor));

  &:not([disabled]):hover {
    background-color: color-mix(in var(--tipTop-Button--faded-hovered__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded-hovered__bgColorMix-percent), var(--tipTop-Button--faded-hovered__bgColorMix-blendColor));
  }
}

.tipTop-Button--outline {
  background-color: transparent;
  border-width: var(--tipTop-Button__borderWidth);
  border-style: solid;
  border-color: var(--tipTop-Button__backgroundColor);
  color: var(--tipTop-Button__backgroundColor);

  &:not([disabled]):hover {
    background-color: color-mix(in var(--tipTop-Button--faded__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__bgColorMix-percent), var(--tipTop-Button--faded__bgColorMix-blendColor));
    color: color-mix(in var(--tipTop-Button--faded__textColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__textColorMix-percent), var(--tipTop-Button--faded__textColorMix-blendColor));
  }
}

.tipTop-Button--ghost {
  background-color: transparent;
  color: var(--tipTop-Button__backgroundColor);

  &:not([disabled]):hover {
    background-color: color-mix(in var(--tipTop-Button--faded__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__bgColorMix-percent), var(--tipTop-Button--faded__bgColorMix-blendColor));
    color: color-mix(in var(--tipTop-Button--faded__textColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__textColorMix-percent), var(--tipTop-Button--faded__textColorMix-blendColor));
  }
}

.tipTop-Button--text {
  background-color: transparent;
  color: var(--tipTop-Button__backgroundColor);
  padding: 0;

  &:not([disabled]):hover {
    color: color-mix(in var(--tipTop-Button--faded__textColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__textColorMix-percent), var(--tipTop-Button--faded__textColorMix-blendColor));
  }
}

/* Loading ---------------------------------------------------------------- */
.tipTop-Button--loading {
  pointer-events: none;
  cursor: not-allowed;

  .tipTop-Button-children,
  .tipTop-Button-slot {
    visibility: hidden;
  }

  .tipTop-Button-loader {
    display: block;
  }
}

.tipTop-Button-loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Size ------------------------------------------------------------------- */
.tipTop-Button--xs {
  font-size: var(--tipTop-Button--xs__fontSize);
  padding-block-start: var(--tipTop-Button__paddingBlockStart--xs);
  padding-block-end: var(--tipTop-Button__paddingBlockEnd--xs);
  padding-inline-start: var(--tipTop-Button__paddingInlineStart--xs);
  padding-inline-end: var(--tipTop-Button__paddingInlineEnd--xs);
}

.tipTop-Button--sm {
  font-size: var(--tipTop-Button--sm__fontSize);
  padding-block-start: var(--tipTop-Button__paddingBlockStart--sm);
  padding-block-end: var(--tipTop-Button__paddingBlockEnd--sm);
  padding-inline-start: var(--tipTop-Button__paddingInlineStart--sm);
  padding-inline-end: var(--tipTop-Button__paddingInlineEnd--sm);
}

.tipTop-Button--normal {
  font-size: var(--tipTop-Button--normal__fontSize);
  padding-block-start: var(--tipTop-Button__paddingBlockStart--normal);
  padding-block-end: var(--tipTop-Button__paddingBlockEnd--normal);
  padding-inline-start: var(--tipTop-Button__paddingInlineStart--normal);
  padding-inline-end: var(--tipTop-Button__paddingInlineEnd--normal);
}

.tipTop-Button--md {
  font-size: var(--tipTop-Button--md__fontSize);
  padding-block-start: var(--tipTop-Button__paddingBlockStart--md);
  padding-block-end: var(--tipTop-Button__paddingBlockEnd--md);
  padding-inline-start: var(--tipTop-Button__paddingInlineStart--md);
  padding-inline-end: var(--tipTop-Button__paddingInlineEnd--md);
}

.tipTop-Button--lg {
  font-size: var(--tipTop-Button--lg__fontSize);
  padding-block-start: var(--tipTop-Button__paddingBlockStart--lg);
  padding-block-end: var(--tipTop-Button__paddingBlockEnd--lg);
  padding-inline-start: var(--tipTop-Button__paddingInlineStart--lg);
  padding-inline-end: var(--tipTop-Button__paddingInlineEnd--lg);
}

.tipTop-Button--xl {
  font-size: var(--tipTop-Button--xl__fontSize);
  padding-block-start: var(--tipTop-Button__paddingBlockStart--xl);
  padding-block-end: var(--tipTop-Button__paddingBlockEnd--xl);
  padding-inline-start: var(--tipTop-Button__paddingInlineStart--xl);
  padding-inline-end: var(--tipTop-Button__paddingInlineEnd--xl);
}

/* Shape ------------------------------------------------------------------ */
.tipTop-Button--rounded {
  border-radius: var(--tipTop-Button__borderRadius, var(--tipTop__borderRadius--normal));
}

.tipTop-Button--pill {
  border-radius: var(--tipTop__borderRadius--full);
}

.tipTop-Button--circle {
  border-radius: 50%;
}

.tipTop-Button--square {
  border-radius: 0;
}

/* Full Width ------------------------------------------------------------- */
.tipTop-Button--fullWidth {
  width: 100%;
}

/* Justify ---------------------------------------------------------------- */
.tipTop-Button--justify-start {
  justify-content: flex-start;
}

.tipTop-Button--justify-end {
  justify-content: flex-end;
}

.tipTop-Button--justify-center {
  justify-content: center;
}

.tipTop-Button--justify-space-between {
  justify-content: space-between;
}

.tipTop-Button--justify-space-around {
  justify-content: space-around;
}





