:root {
  /* ### root */
  --tipTop-Button__borderWidth: 1px;
  --tipTop-Button__borderRadius: var(--tipTop__borderRadius--md);
  --tipTop-Button__fontSize: var(--tipTop__fontSize--md);
  --tipTop-Button__fontWeight: var(--tipTop__fontWeight--medium);
  --tipTop-Button__transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  --tipTop-Button--disabled__opacity: 0.5;
  --tipTop-Button__whiteSpace: nowrap;
  --tipTop-Button__lineHeight: 1rem;
  --tipTop-Button__svg-width: 1em;
  --tipTop-Button__svg-height: 1em;
  --tipTop-Button__slot-margin: -0.2em;

  /* ### Variants */
  /* #### `solid` */
  /* Change the solid background color on hover */
  --tipTop-Button--solid-hovered__bgColorMix-colorSpace: srgb;
  --tipTop-Button--solid-hovered__bgColorMix-percent: 70%;
  --tipTop-Button--solid-hovered__bgColorMix-blendColor: #fff;

  /* #### `faded` */
  /* Change the background color */
  --tipTop-Button--faded__bgColorMix-colorSpace: srgb;
  --tipTop-Button--faded__bgColorMix-percent: 20%;
  --tipTop-Button--faded__bgColorMix-blendColor: #fff;

  /* Change the background color on hover */
  --tipTop-Button--faded-hovered__bgColorMix-colorSpace: srgb;
  --tipTop-Button--faded-hovered__bgColorMix-percent: 30%;
  --tipTop-Button--faded-hovered__bgColorMix-blendColor: #fff;

  /* Darken the text color over a faded/hovered background */
  --tipTop-Button--faded__textColorMix-colorSpace: srgb;
  --tipTop-Button--faded__textColorMix-percent: 65%;
  --tipTop-Button--faded__textColorMix-blendColor: #000;

  /* ### Size */
  /* #### 2xs */
  --tipTop-Button--2xs__fontSize: var(--tipTop__fontSize--2xs);
  --tipTop-Button--2xs__height: var(--tipTop__height--2xs);
  --tipTop-Button--2xs__gap: var(--tipTop__space--4);
  --tipTop-Button--2xs__paddingInline: var(--tipTop__space--10);

  /* #### xs */
  --tipTop-Button--xs__fontSize: var(--tipTop__fontSize--xs);
  --tipTop-Button--xs__height: var(--tipTop__height--xs);
  --tipTop-Button--xs__gap: var(--tipTop__space--6);
  --tipTop-Button--xs__paddingInline: var(--tipTop__space--12);

  /* #### sm */
  --tipTop-Button--sm__fontSize: var(--tipTop__fontSize--sm);
  --tipTop-Button--sm__height: var(--tipTop__height--sm);
  --tipTop-Button--sm__gap: var(--tipTop__space--8);
  --tipTop-Button--sm__paddingInline: var(--tipTop__space--14);

  /* #### md */
  --tipTop-Button--md__fontSize: var(--tipTop__fontSize--md);
  --tipTop-Button--md__height: var(--tipTop__height--md);
  --tipTop-Button--md__gap: var(--tipTop__space--10);
  --tipTop-Button--md__paddingInline: var(--tipTop__space--16);

  /* #### lg */
  --tipTop-Button--lg__fontSize: var(--tipTop__fontSize--lg);
  --tipTop-Button--lg__height: var(--tipTop__height--lg);
  --tipTop-Button--lg__gap: var(--tipTop__space--12);
  --tipTop-Button--lg__paddingInline: var(--tipTop__space--18);

  /* #### xl */
  --tipTop-Button--xl__fontSize: var(--tipTop__fontSize--xl);
  --tipTop-Button--xl__height: var(--tipTop__height--xl);
  --tipTop-Button--xl__gap: var(--tipTop__space--14);
  --tipTop-Button--xl__paddingInline: var(--tipTop__space--20);

  /* #### 2xl */
  --tipTop-Button--2xl__fontSize: var(--tipTop__fontSize--2xl);
  --tipTop-Button--2xl__height: var(--tipTop__height--2xl);
  --tipTop-Button--2xl__gap: var(--tipTop__space--16);
  --tipTop-Button--2xl__paddingInline: var(--tipTop__space--22);
}

.tipTop-Button,
.tipTop-Button * {
  box-sizing: border-box;
}

.tipTop-Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: var(--tipTop-Button__fontWeight);
  transition: var(--tipTop-Button__transition);
  white-space: var(--tipTop-Button__whiteSpace);
  line-height: var(--tipTop-Button__lineHeight);

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    opacity: var(--tipTop-Button--disabled__opacity);
  }
}

/* Icons ------------------------------------------------------------------ */
.tipTop-Button svg {
  width: var(--tipTop-Button__svg-width);
  height: var(--tipTop-Button__svg-height);
  display: block;
}

/* Slots ------------------------------------------------------------------ */
.tipTop-Button-slot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipTop-Button-slot--start {
  margin-left: var(--tipTop-Button__slot-margin);
}

.tipTop-Button-slot--end {
  margin-right: var(--tipTop-Button__slot-margin);
}

/* Variants ---------------------------------------------------------------- */
.tipTop-Button--primary {
  --tipTop-Button__backgroundColor: var(--tipTop__color--primary);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--secondary {
  --tipTop-Button__backgroundColor: var(--tipTop__color--secondary);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--neutral {
  --tipTop-Button__backgroundColor: var(--tipTop__color--neutral);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--danger {
  --tipTop-Button__backgroundColor: var(--tipTop__color--danger);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--warning {
  --tipTop-Button__backgroundColor: var(--tipTop__color--warning);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--success {
  --tipTop-Button__backgroundColor: var(--tipTop__color--success);
  --tipTop-Button__color: var(--tipTop__color--light);
}

.tipTop-Button--light {
  --tipTop-Button__backgroundColor: var(--tipTop__color--light);
  --tipTop-Button__color: var(--tipTop__color--dark);
}

.tipTop-Button--dark {
  --tipTop-Button__backgroundColor: var(--tipTop__color--dark);
  --tipTop-Button__color: var(--tipTop__color--light);
}

/* Appearance ------------------------------------------------------------- */
.tipTop-Button--solid {
  background-color: var(--tipTop-Button__backgroundColor);
  color: var(--tipTop-Button__color);

  &:not([disabled]):hover {
    background-color: color-mix(in var(--tipTop-Button--solid-hovered__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--solid-hovered__bgColorMix-percent), var(--tipTop-Button--solid-hovered__bgColorMix-blendColor));
  }
}

.tipTop-Button--faded {
  background-color: color-mix(in var(--tipTop-Button--faded__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__bgColorMix-percent), var(--tipTop-Button--faded__bgColorMix-blendColor));
  color: color-mix(in var(--tipTop-Button--faded__textColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__textColorMix-percent), var(--tipTop-Button--faded__textColorMix-blendColor));

  &:not([disabled]):hover {
    background-color: color-mix(in var(--tipTop-Button--faded-hovered__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded-hovered__bgColorMix-percent), var(--tipTop-Button--faded-hovered__bgColorMix-blendColor));
  }
}

.tipTop-Button--outline {
  background-color: transparent;
  border-width: var(--tipTop-Button__borderWidth);
  border-style: solid;
  border-color: var(--tipTop-Button__backgroundColor);
  color: var(--tipTop-Button__backgroundColor);

  &:not([disabled]):hover {
    background-color: color-mix(in var(--tipTop-Button--faded__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__bgColorMix-percent), var(--tipTop-Button--faded__bgColorMix-blendColor));
    color: color-mix(in var(--tipTop-Button--faded__textColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__textColorMix-percent), var(--tipTop-Button--faded__textColorMix-blendColor));
  }
}

.tipTop-Button--ghost {
  background-color: transparent;
  color: var(--tipTop-Button__backgroundColor);

  &:not([disabled]):hover {
    background-color: color-mix(in var(--tipTop-Button--faded__bgColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__bgColorMix-percent), var(--tipTop-Button--faded__bgColorMix-blendColor));
    color: color-mix(in var(--tipTop-Button--faded__textColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__textColorMix-percent), var(--tipTop-Button--faded__textColorMix-blendColor));
  }
}

.tipTop-Button--text {
  background-color: transparent;
  color: var(--tipTop-Button__backgroundColor);
  padding: 0;

  &:not([disabled]):hover {
    color: color-mix(in var(--tipTop-Button--faded__textColorMix-colorSpace), var(--tipTop-Button__backgroundColor) var(--tipTop-Button--faded__textColorMix-percent), var(--tipTop-Button--faded__textColorMix-blendColor));
  }
}

/* Sizes ------------------------------------------------------------------- */
.tipTop-Button--2xs {
  font-size: var(--tipTop-Button--2xs__fontSize);
  height: var(--tipTop-Button--2xs__height);
  gap: var(--tipTop-Button--2xs__gap);
  padding-inline: var(--tipTop-Button--2xs__paddingInline);
}

.tipTop-Button--xs {
  font-size: var(--tipTop-Button--xs__fontSize);
  height: var(--tipTop-Button--xs__height);
  gap: var(--tipTop-Button--xs__gap);
  padding-inline: var(--tipTop-Button--xs__paddingInline);
}

.tipTop-Button--sm {
  font-size: var(--tipTop-Button--sm__fontSize);
  height: var(--tipTop-Button--sm__height);
  gap: var(--tipTop-Button--sm__gap);
  padding-inline: var(--tipTop-Button--sm__paddingInline);
}

.tipTop-Button--md {
  font-size: var(--tipTop-Button--md__fontSize);
  height: var(--tipTop-Button--md__height);
  gap: var(--tipTop-Button--md__gap);
  padding-inline: var(--tipTop-Button--md__paddingInline);
}

.tipTop-Button--lg {
  font-size: var(--tipTop-Button--lg__fontSize);
  height: var(--tipTop-Button--lg__height);
  gap: var(--tipTop-Button--lg__gap);
  padding-inline: var(--tipTop-Button--lg__paddingInline);
}

.tipTop-Button--xl {
  font-size: var(--tipTop-Button--xl__fontSize);
  height: var(--tipTop-Button--xl__height);
  gap: var(--tipTop-Button--xl__gap);
  padding-inline: var(--tipTop-Button--xl__paddingInline);
}

.tipTop-Button--2xl {
  font-size: var(--tipTop-Button--2xl__fontSize);
  height: var(--tipTop-Button--2xl__height);
  gap: var(--tipTop-Button--2xl__gap);
  padding-inline: var(--tipTop-Button--2xl__paddingInline);
}

/* Corners ------------------------------------------------------------------ */
.tipTop-Button--rounded {
  border-radius: var(--tipTop-Button__borderRadius, var(--tipTop__borderRadius--normal));
}

.tipTop-Button--pill {
  border-radius: var(--tipTop__borderRadius--full);
}

.tipTop-Button--sharp {
  border-radius: 0;
}

/* Full Width ------------------------------------------------------------- */
.tipTop-Button--fullWidth {
  width: 100%;
}

/* Justify ---------------------------------------------------------------- */
.tipTop-Button--justify-start {
  justify-content: flex-start;
}

.tipTop-Button--justify-end {
  justify-content: flex-end;
}

.tipTop-Button--justify-center {
  justify-content: center;
}

.tipTop-Button--justify-space-between {
  justify-content: space-between;
}

.tipTop-Button--justify-space-around {
  justify-content: space-around;
}

/* Fixed Ratio------------------------------------------------------------- */
.tipTop-Button--fixedRatio {
  padding: 0;
  aspect-ratio: 1;
}

.tipTop-Button--fixedRatio.tipTop-Button--2xs {
  width: var(--tipTop-Button--2xs__height);
}

.tipTop-Button--fixedRatio.tipTop-Button--xs {
  width: var(--tipTop-Button--xs__height);
}

.tipTop-Button--fixedRatio.tipTop-Button--sm {
  width: var(--tipTop-Button--sm__height);
}

.tipTop-Button--fixedRatio.tipTop-Button--md {
  width: var(--tipTop-Button--md__height);
}

.tipTop-Button--fixedRatio.tipTop-Button--lg {
  width: var(--tipTop-Button--lg__height);
}

.tipTop-Button--fixedRatio.tipTop-Button--xl {
  width: var(--tipTop-Button--xl__height);
}

.tipTop-Button--fixedRatio.tipTop-Button--2xl {
  width: var(--tipTop-Button--2xl__height);
}

/* Loading ---------------------------------------------------------------- */
.tipTop-Button-loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tipTop-Button--loading {
  pointer-events: none;
  cursor: not-allowed;

  .tipTop-Button-children,
  .tipTop-Button-slot {
    visibility: hidden;
  }

  .tipTop-Button-loader {
    display: block;
  }
}







