.tipTop-Button-root {
  display: flex;
  background-color: gray;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.tipTop-Button-slot {
  display: flex;
  justify-content: center;
  align-items: center;
}